<html>
    <body>
        <form method="post" action="/process">
            <input type="number" step="0.001" name="MDVP:Fo(Hz)" placeholder="MDVP:Fo(Hz)" required="required">
            <input type="number" step="0.001" name="MDVP:Fhi(Hz)" placeholder="MDVP:Fhi(Hz)" required="required">
            <input type="number" step="0.001" name="MDVP:Flo(Hz)" placeholder="MDVP:Flo(Hz)" required="required">
            <input type="number" step="0.00001" name="MDVP:Jitter(%)" placeholder="MDVP:Jitter(%)" required="required">
            <input type="number" step="0.00001" name="MDVP:Jitter(Abs)" placeholder="MDVP:Jitter(Abs)" required="required">
            <input type="number" step="0.00001" name="MDVP:RAP" placeholder="MDVP:RAP" required="required">
            <input type="number" step="0.00001" name="MDVP:PPQ" placeholder="MDVP:PPQ" required="required">
            <input type="number" step="0.00001" name="Jitter:DDP" placeholder="Jitter:DDP" required="required">
            <input type="number" step="0.00001" name="MDVP:Shimmer" placeholder="MDVP:Shimmer" required="required">
            <input type="number" step="0.001" name="MDVP:Shimmer(dB)" placeholder="MDVP:Shimmer(dB)" required="required">
            <input type="number" step="0.00001" name="Shimmer:APQ3" placeholder="Shimmer:APQ3" required="required">
            <input type="number" step="0.00001" name="Shimmer:APQ5" placeholder="Shimmer:APQ5" required="required">
            <input type="number" step="0.00001" name="MDVP:APQ" placeholder="MDVP:APQ" required="required">
            <input type="number" step="0.00001" name="Shimmer:DDA" placeholder="Shimmer:DDA" required="required">
            <input type="number" step="0.00001" name="NHR" placeholder="NHR" required="required">
            <input type="number" step="0.001" name="HNR" placeholder="HNR" required="required">
            <input type="number" step="0.000001" name="RPDE" placeholder="RPDE" required="required">
            <input type="number" step="0.000001" name="DFA" placeholder="DFA" required="required">
            <input type="number" step="0.000001" name="spread1" placeholder="spread1" required="required">
            <input type="number" step="0.000001" name="spread2" placeholder="spread2" required="required">
            <input type="number" step="0.000001" name="D2" placeholder="D2" required="required">
            <input type="number" step="0.000001" name="PPE" placeholder="PPE" required="required">
            <button>Submit</button>
        </form>
    </body>
</html>